.site-navi {
	align-items: center;
}

.site-title a {
	display: flex;
	align-items: center;
}

.site-title img {
	max-width: 50px;
	border-radius: 100%;
	background: white;
	border: 1px solid gray;
	margin-right: 10px;
}

.site-navi, .site-title, .site-navi-items {
	font-size: 15pt;
}
